@font-face {
    font-family: 'tictactoe';
    src: url('Cute\ Notes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-color: #0478B3;
    --bg-color: #24B6FF;
    --font-color: #f1f5f9;
    --tic-bg-color: #B36300;
    --player-x-color:#FF920A;
    --player-o-color: #09AEFF;
}

.container{
    min-height: 100vh;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

header{
    width: 100vw;
    min-height: 23vh;
    background-color: var(--header-color);
    color: var(--font-color);
    font-family: 'tictactoe', times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1{
    font-size: 3rem;
}

main{
    flex: 1 0 auto;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.inputsContainer{
    display: flex;
    gap: 3rem;
}

.playerXLabel{
    color: var(--player-x-color);
}
.playerOLabel{
    color: var(--player-o-color);
}

h2{
    color: transparent;
}

.squareContainer{
    background-color: var(--tic-bg-color);
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: .5rem;
    max-width: 19rem;
}
.squareContainer .square{
    background-color: white;
    border: none;
    place-content: center;
    font-size: 5rem;
}

#startPlay{
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 1.3rem;
    transition: .3s;
}
#startPlay:hover{
    border-bottom: 2px solid black;
}

.win{
    background-color: #25a340 !important;
}

footer{
    background-color: var(--header-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.footerLink{
    color: var(--font-color);
    text-decoration: none;
    border: 2px solid transparent;
    transition: .5s;
}
.footerLink:hover{
    color: #c1c1c1;
    border-bottom: 2px solid #c1c1c1;
}

.iconsContent{
    display: flex;
    gap: .8rem;
}
    
.footerImg{
    width: 3rem;
    height: 3rem;
    border: 2px solid transparent;
    border-radius: .7rem;
    transition: .3s;
}

.footerImg:hover{
    border: 2px solid var(--font-color);
}

.cursor-pointer{
    cursor: pointer;
}

@media (max-width: 1024px) {
    *{
        font-size: 15px;
    }
}
@media (max-width: 760px) {
    .inputsContainer{
        flex-direction: column;
        gap: .8rem;
    }
}
@media (max-width: 425px) {
    *{
        font-size: 14px;
    }
    h1{
        font-size: 2rem;
    }
}